@model Killerapp.ViewModels.OrderViewModels.ChooseShowViewModel
@using Models
<div class="row">
    <div class="col-lg-12">
        <div class="movieDetails">
            <img src="~/images/image1.jpg" />
            <ul>
                <li>@Model.Movie.Name</li>
                <li>@Model.Movie.Genre</li>
                <li>@Model.Movie.ReleaseDate</li>
                <li>@Model.Movie.Duration</li>
            </ul>
            @*<h2>Rating: </h2>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="cinemaList">
            <ul>
                @foreach (Cinema cinema in Model.Cinemas)
                {
                    <li><a id="cinema_@cinema.Id" class="cinema" onclick="getAvailableShows(@cinema.Id, @Model.Movie.Id)">@cinema.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="text-center showtimes">
            <h3>Showtimes</h3>
            <ul id="shows">

            </ul>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function getAvailableShows(cinemaId, movieId) {
            $.ajax({
                type: 'GET',
                url: '/api/showtimes?movieId=' + movieId + '&cinemaId=' + cinemaId,
                success: function (shows) {
                    console.log(shows);
                    $.each(shows, function (i, show) {
                        $('#shows').append('<li>Showtime: ' + show.time + '</li>');
                    });
                }
            });
        }
        
    </script>
}


