@model Killerapp.ViewModels.OrderViewModels.ChooseShowViewModel
@using Models
<div class="row">
    <div class="col-lg-12">
        <div class="movieDetails">
            <img src="~/images/image1.jpg" />
            <ul>
                <li>@Model.Movie.Name</li>
                <li>@Model.Movie.Genre</li>
                <li>@Model.Movie.ReleaseDate</li>
                <li>@Model.Movie.Duration</li>
            </ul>
            @*<h2>Rating: </h2>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="cinemalist">
            <ul>
                @foreach (Cinema cinema in Model.Cinemas)
                {
                    <li><a id="@cinema.Name" onclick="getAvailableShows(this.value)">@cinema.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div id="shows" class="showtimes">
            
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function(getAvailableShows) {
            var jsonData = $.getJSON("api/order")
            document.getElementById("shows").innerHTML(jsonData)
        }
        
    </script>
}


