@model Killerapp.ViewModels.OrderViewModels.PickTicketsViewModel
@using Models
@{
    ViewData["Title"] = "PickTickets";
}

<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="movieDetails">
            <img src="~/images/image1.jpg" />
            <ul>
                <li>@Model.Show.Movie.Name</li>
                <li>@Model.Show.Movie.Genre</li>
                <li>@Model.Show.Movie.ReleaseDate</li>
                <li>@Model.Show.Movie.Duration</li>
            </ul>
            @*<h2>Rating: </h2>*@
            <input type="number" name="quantity" min="1" max="10">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="movieInvites">
            <h2 class="text-center">Add invited Friends</h2>
            <ul>
                @foreach(User user in Model.InvitedFriends)
                {
                    <a href="@Url.Action("AddFriend", "Order", new { userId = user.Id })"><li><h3>@user.Name</h3></li></a>
                }
            </ul>
        </div>
    </div>
</div>

